# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Outputs
outputs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

.omc
